@use "./partials/typography";

* {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
} 

body{
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header, .footer{
    background-color: #06142d;
}

.header{
    margin: 0;
    height: 3rem;
}

.logo{
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main{
    background-color: #0c2151;

    &__container{
        padding: 2rem;
        display: flex;
    }

    &__description-layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    &__image-layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
    }

    &__title{
        font-family: "EastmanAlternate";
        margin: 0 auto;
        padding: 0.5rem;
        font-weight: 200;
    }

    &__image-title{
        padding: 1rem;
        margin: 0 auto;
    }
    
    &__date{
        margin: 0 auto;
        padding: 1rem;
    }

    &__description{
        padding: 1rem;
        font-size: 0.7rem;
        margin: 0;
    }

    &__by-tag{
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0;
        padding: 1rem;
    }

    &__image{
        margin: 0 auto;
        width: 20rem;
        height: 20rem;
        border: 0.20rem solid #cbafdb;
        border-radius: 0.50rem;
    }
}

.footer{


    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 2rem;

    &__logo{
        padding: 1rem;
        margin: 0;
        font-size: 1rem;
    }

    &__made-by{
        margin: 0;
    }

    &__api-by{
        margin: 0;
        padding-top: 0.5rem;

        a{
            color: #cbafdb;
        }
    }

    &__info{
        font-size: 0.7rem;
    }


}